.App {
  padding: 2rem;
  font-family: sans-serif;
}

.app-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 2rem;
}

.inventory-label {
  margin-bottom: 8px;
  font-weight: 500;
}

.inventory-dropdown-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Table container */
.inventory-order-card {
  width: fit-content;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.inventory-order table {
  border-collapse: collapse;
  width: 100%;
}

.inventory-order th,
.inventory-order td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.inventory-order th {
  background-color: #f2f2f2;
}

.select-item {
  padding: 4px;
  min-width: 150px;
}

.input-item-quantity {
  width: 70px;
  padding: 4px;
}

.remove-button {
  background-color: crimson;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.remove-button:hover {
  background-color: darkred;
}

/* Add button below the table */
.add-row-container {
  margin-top: 1rem;
}

.button-add-item {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
}

.button-add-item:hover {
  background-color: #0056b3;
}

.button-submit-order {
  background-color: #2cda7a;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
}

.button-submit-order:hover {
  background-color: #20b362;
}

/* Order History Table */
.order-history {
  margin-top: 3rem;
  width: fit-content;
  background-color: antiquewhite;
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.order-history-table table {
  border-collapse: collapse;
  width: 100%;
}

.order-history-table th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.order-history-table th {
  background-color: #f2f2f2;
}